/* Universal style*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;

  min-height: 100%;
  min-width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

header {
  /* background-image: url("images/Monthly-Website-Header-background-768x230.jpg"); */
  background-color: rgba(37, 59, 112, 50%);
  opacity: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  position: fixed;
  top: 0rem;
}

.topnav {
  align-content: flex-start;
}

.topnav li:last-child {
  float: right; /* last li item */
}

.topnav li {
  display: inline-flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.topnav li:hover {
  background-color: rgb(37, 59, 112);
  opacity: 50%;
  border-radius: 50%;
}

.topnav li a {
  /* border: 1px solid green; */
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-decoration: none;
  margin-left: 5px;
  color: whitesmoke;
  text-align: center;
  margin: 15px auto;
}

header img {
  float: left;
  max-width: 5%;
  max-height: 5%;
}

/* Body element */
body {
  background-image: url("images/body-bacground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1 {
  text-align: center;
  color: rgb(26, 38, 77);
  font-size: 4rem;
  font-family: "Architects Daughter", cursive;
  margin-top: 10rem;
  padding: 2rem;
  /* background-color: rgba(58, 96, 159, 50%); */
  border-radius: 5%;
}
.title p {
  text-align: center;
}

#events h2,
#place h2,
#food h2,
#about h2 {
  text-align: left;
  color: rgb(26, 38, 77);
  font-size: 2.5rem;
  font-family: "Architects Daughter", cursive;
  padding: 0;
  margin-left: 50px;
}

footer {
  background-color: rgba(37, 59, 112, 50%);
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  color: lavender;
}
h4 {
  font-size: 1.45rem;
  font-weight: normal;
  padding: 0.75rem;
  text-decoration-line: underline;
}

footer li {
  display: inline-block;
  color: lavender;
  justify-content: space-between;
  padding: 1.5rem;
}

body img {
  width: 20%;
  height: 30;
  margin: 1.5%;
  top: 50%;
  left: 50%;
}

figure {
  display: flex;
  align-content: space-between;
  align-items: center;
}

figcaption {
  text-align: center;
}

.food img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 1.5rem;
}

p {
  margin-left: 50px;
}

@media only screen and (max-width: 320px) {
  img {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }
}
